<h1>Your Races</h1>

<p><%= link_to 'New Race', new_user_race_path(user_id: @user.id) %></p>

<table class="">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Hashtags</th>
      <th>Tweets</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.date.strftime('%-m/%-d/%y') %></td>
        <td><%= race.distance %></td>
        <td><%= display_hashtags(race) %></td>
        <td><%= link_to 'Tweets', race_tweets_path(race_id: race.id) %></td>
        <td><%= link_to 'Edit', edit_user_race_path(user_id: @user.id, id: race.id) %></td>
        <td><%= link_to 'Delete', user_race_path(user_id: @user.id, id: race.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
