<!DOCTYPE html>
<html>
  <head>
    <title>RaceTweeter</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Poppins|PT+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
